/**************************
GENERAL
***************************/
body {
  
  background-color: #151515;
  color: #999;
}

a {
  text-decoration: none;
  color: #4db8ff;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

img {
  max-width: 100%;
}

h3{
  margin: 0 0 1em 0;
}

/**************************
HEADING
***************************/

header {
  font-family: 'Courgette', cursive;
  background: #009688;
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  height: 80px;
}

#logo {  
  text-align: center;
  margin: 0;
}

h1 {  
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
  color: #fff;
}
/**************************
Inicio
***************************/

#texto_inicio  {
  padding-top: 10em;
  font-family: 'Courgette', cursive;
  text-align: center;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.225em;
  margin: 0 0 1em 0;

}

#texto_inicio p{
  color: #4bad92;
  margin: 0 0 2em 0;
  font-size: 100%;
  text-align: center;
}

#imagen_inicio{

}
/**************************
PÁGINA: PORTAFOLIO
***************************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #2E2E2E;
  color: #bdc3c7;
}

/*titulo de la galeria */
#gallery li a .titulo_trabajo { 
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #4bad92;
}

#gallery li a .parrafo_informacion{
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #E0F8EC;
}




#gallery li a .habilidades{
  padding: 0;
}

#gallery li a ul .habilidad{
  display:inline-block;
  background-color: #0F6A62;
  color: #fff;
  font-size: 0.65em;
  padding: 0.5em;
  text-transform: uppercase;
  width: 4em;
  border-radius: 40%;

}


/*Para lo que acompaña nuestras imagenes 3d*/

#gallery li .parrafo_informacion{
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #E0F8EC;
}

#gallery li .titulo_trabajo { 
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #4bad92;
}
#gallery li .titulo_trabajo2 { 
  margin: 0;
  padding: 5%;
  font-size: 1em;
  color: #4bad92;
}

/* cambio de tamaño para las habilidades mas grandes

  cambiar el de comunicación en ilustraciones
*/
#gallery li a ul .habilidad_larga{
  display:inline-block;
  background-color: #0F6A62;
  color: #fff;
  padding: 0.5em;
  text-transform: uppercase;
  width: 6em;
  border-radius: 40%;
  font-size: 0.55em;
  text-align: center;

}



/**************************
PÁGINA: ACERCA DE
***************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}
.profile-logo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10;
}

.perfiles_individuales{
  padding-top: 50px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/**************************
PÁGINA: CONTACTO
***************************/

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9m;
}

/**************************
NAVIGATION
***************************/

nav {
 

}

nav ul {
  list-style: none;
  margin: 20px 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 15px 10px;
}

/**************************
FOOTER
***************************/

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 50px;
  color: #ccc;
  clear: both;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/**********************************
CONTACT FORM
***********************************/

.form-control {
  margin: 5px 0;
  clear: left;
  float: left;
}

form textarea {
  width: 20em;
}

/**************************
COLORS
***************************/

/* links de navegación */
nav a, nav a:visited {
  color: #fff;
}

/* links seleccionados */
nav a.selected, a:hover {
  color: #4bad92;
}

header .selected{
  color: #4bad92;
}


/***********************************************
PÁGINA: con texto largo y descripción proyectos
***********************************************/

#parrafo_descripción li {
  float: left;
  width: 80%;
  margin: 2.5%;
  background-color: #2E2E2E;
  color: #bdc3c7;
  list-style:none
}

/*titulo de la galeria */
.titulo_trabajo { 
  margin: 0;
  padding: 5%;
  padding-bottom: 15px;
  font-size: 1.2em;
  color: #4bad92;
}

.parrafo_informacion{
  margin: 0;
  padding: 5%;
  font-size: 0.9em;
  color: #E0F8EC;
}
.load_images {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 0%;
}

.load_images2 {
  display: block;
  max-width: 90%;
  margin: 0 auto 30px;
  border-radius: 0%;
}